service: monspenso

plugins:
  - serverless-pseudo-parameters
  - serverless-step-functions
provider: 
  name: aws
  runtime: python3.6
  region: ${self:custom.config.region}
  versionFunctions: false
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - logs:CreateLogGroup,
        - logs:PutRetentionPolicy,
        - logs:CreateLogStream,
        - logs:PutLogEvents,
        - logs:DescribeLogStreams,
        - logs:GetLogEvents
      Resource: 
        - "arn:aws:logs:*:*:log-group:/aws/*"
    - Effect: "Allow"
      Action:
        - states:StartExecution
      Resource: 
        - "*"
    - Effect: "Allow"
      Action:
        - sts:AssumeRole
      Resource: 
        - "*"
    - Effect: "Allow"
      Action:
        - ssm:GetParameter
      Resource: 
        - "*"
    - Effect: "Allow"
      Action:
        - s3:PutObject
      Resource: 
        - "*"

custom:
  config: ${file(${self:provider.stage}.yml), file(dev.yml)}

functions: 
  verify:
    handler: monspenso_verify.lambda_handler
    description: Retreives Monzo message from API Gateway, if account details are correct invokes state machine.
    environment: 
      monzo_account_id: ${ssm:MonzoAccountID}
      message_service: ${self:custom.config.message_service}
    memorySize: 128
    timeout: 300

  request:
    handler: monspenso_request.lambda_handler
    description: Retreives transaction details from Monzo.
    environment: 
      monzo_access_key: ${ssm:MonzoAccessKey}
    memorySize: 128
    timeout: 300

  receipt:
    handler: monspenso_receipt.lambda_handler
    description: Uploads image to S3.
    environment: 
      bucket_name: ${self:custom.config.bucket_name}
    memorySize: 128
    timeout: 300
  
  slack:
    handler: monspenso_slack.lambda_handler
    description: Creates Slack message containing purchase details. 
    environment:
      amount_high: ${self:custom.config.amount_high}
      amount_medium: ${self:custom.config.amount_medium}
    memorySize: 128
    timeout: 300

  teams:
    handler: monspenso_teams.lambda_handler
    description: Creates Teams message containing purchase details. 
    environment:
      amount_high: ${self:custom.config.amount_high}
      amount_medium: ${self:custom.config.amount_medium}
    memorySize: 128
    timeout: 300

  send:
    handler: monspenso_send.lambda_handler
    description: Sends message to webhook url.
    environment:
      webhook_url: ${self:custom.config.webhook_url}
    memorySize: 128
    timeout: 300

stepFunctions:
  stateMachines:
    MonzoTransactions:
      events:
        - http:
            path: test/monspenso_verify
            method: POST
      name: MonzoTransactions
      definition:
        Comment: "Monspenso Application"
        StartAt: verify
        States:

          verify:
            Type: Task
            Resource: "arn:aws:lambda:eu-west-1:${self:custom.config.aws_account_id}:function:monspenso-dev-verify"
            ResultPath: $
            Next: account_id

          account_id:
            Type: Choice
            Choices:
            - Variable: "$.valid"
              BooleanEquals: true
              Next: wait
            - Variable: "$.valid"
              BooleanEquals: false
              Next: invalid_account
            Default: "invalid_account"

          invalid_account:
            Type: Fail
            Cause: Invalid Monzo AccountID

          wait:
            Type: Wait
            Seconds: 30
            Next: request

          request:
            Type: Task
            Resource: "arn:aws:lambda:eu-west-1:${self:custom.config.aws_account_id}:function:monspenso-dev-request"
            ResultPath: $
            Next: receipt
          
          receipt:
            Type: Task
            Resource: "arn:aws:lambda:eu-west-1:${self:custom.config.aws_account_id}:function:monspenso-dev-receipt"
            ResultPath: $
            Next: expense

          expense:
            Type: Choice
            Choices:
            - Variable: "$.data.category"
              StringEquals: expenses
              Next: service
            Default: "non_expense"

          service:
            Type: Choice
            Choices:
            - Variable: "$.message_service"
              StringEquals: slack
              Next: slack
            - Variable: "$.message_service"
              StringEquals: teams
              Next: teams
            Default: "non_expense"

          non_expense:
            Type: Fail
            Cause: Not marked as expense

          slack:
            Type: Task
            Resource: "arn:aws:lambda:eu-west-1:${self:custom.config.aws_account_id}:function:monspenso-dev-slack"
            ResultPath: $
            Next: send
          
          teams:
            Type: Task
            Resource: "arn:aws:lambda:eu-west-1:${self:custom.config.aws_account_id}:function:monspenso-dev-teams"
            ResultPath: $
            Next: send

          send:
            Type: Task
            Resource: "arn:aws:lambda:eu-west-1:${self:custom.config.aws_account_id}:function:monspenso-dev-send"
            ResultPath: $
            End: true

  Outputs:
    MonzoTransactions:
      Description: The ARN of the example state machine
      Value:
        Ref: MonzoTransactions